@page
@using FUMiniHotelManagement.Razor.Constant
@model FUMiniHotelManagement.Razor.Pages.BookingReservationPage.DetailsModel

@{
    ViewData["Title"] = "Booking Reservation Details";
}

@{
    var role = HttpContext.Session.GetString("Role");
    if (role is null)
    {
        Response.Redirect("/Login");
        return;
    }

    if (role.Trim() != StaticUserRole.Admin.Trim())
    {
        Response.Redirect("/Unauthorize");
        return;
    }
}

<h1>Booking Reservation Details</h1>

<div>
    <h4>Details</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BookingReservation.BookingDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BookingReservation.BookingDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BookingReservation.TotalPrice)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BookingReservation.TotalPrice)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BookingReservation.BookingStatus)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BookingReservation.BookingStatus)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BookingReservation.Customer)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BookingReservation.Customer.EmailAddress)
        </dd>
    </dl>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.BookingReservation?.BookingReservationId" class="btn btn-primary">Edit</a> |
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>