@page
@using FUMiniHotelManagement.Razor.Constant
@model FUMiniHotelManagement.Razor.Pages.BookingDetailPage.DetailsModel

@{
    ViewData["Title"] = "Booking Detail";
}

@{
    var role = HttpContext.Session.GetString("Role");
    if (role is null)
    {
        Response.Redirect("/Login");
        return;
    }

    if (role.Trim() != StaticUserRole.Admin.Trim())
    {
        Response.Redirect("/Unauthorize");
        return;
    }
}

<h1>Booking Detail</h1>

<div>
    <h4>Booking Information</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BookingDetail.StartDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BookingDetail.StartDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BookingDetail.EndDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BookingDetail.EndDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BookingDetail.ActualPrice)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BookingDetail.ActualPrice)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BookingDetail.BookingReservation)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BookingDetail.BookingReservation.BookingReservationId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BookingDetail.Room)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BookingDetail.Room.RoomNumber)
        </dd>
    </dl>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.BookingDetail.BookingReservationId" asp-route-roomId="@Model.BookingDetail.RoomId" class="btn btn-warning">Edit</a> |
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>